body::-webkit-scrollbar,html::-webkit-scrollbar,.container-main::-webkit-scrollbar{
    display: none;
} /*без прокрутки*/
*{}
html,body {
    display: block;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}
body{
    background: #eaeaea!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    border: none!important;
}
.navbar-fixed{
    background-color: rgba(234, 234, 234, 1)!important;
    margin-bottom: 10vh!important;
}
.button-mobile{cursor: pointer;}
.navbar-right{
    padding: 0;
    text-transform: uppercase;
}
.navbar-brand{
    min-height: 7vh;
    max-height: 7vh;
    padding: 0 !important;
}
.img-responsive3{
    height: 100%;
}/*по размеру контейнера*/
.navbar .navbar-nav li{
    height: 100%;
}
.navbar .navbar-nav li a{
    margin-top: 5.1vh;
    font-size: 1.7vh;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 100%;
}
#contactsMain{
    color: #1e1e1e;
    cursor: pointer;
} /*изменение цвета контактов*/

@media screen and (max-width:720px) {
    .navbar-fixed {
        margin-top: 0;
        margin-bottom: 0!important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .navbar-header{
        height: 10vh;
        margin: 0!important;
    }
    .navbar .navbar-nav li{
        height: 25px;
    }
    .navbar .navbar-nav li a {
        float: right;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 10px;
    }
    .navbar-brand{
        margin-bottom: 0;
        margin-top: 2vh;
        height: 10vh;
    }
    .navbar .navbar-header button{
        color: #FFF;
        height: 5vh;
    }
} /*navebar 720*/
.Menu720 {
    background: #0090DA;
    right: -100vw;  /* start off behind the scenes */
    height: 100vh;
    position: fixed;
    width: 100vw;
    margin-top: 0;
    z-index: 2;
}/*side menu parameters*/
.icon-close-menu720 {
    width: 10vw;
    cursor: pointer;
    padding-left: 2vw;
    padding-top: 4vh;
    margin: 0!important;
}
.img-responsive5{
    margin-left: 23vw;
    width: 30vw;
}
.Menu720-header{
    margin-top: 5vh;
    display: flex;
    align-items: baseline;
}
.Menu720-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 75vh;
}
.Menu720-list{
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#servicesMain720,#sriptMain720,#projectsMain720,#studyMain720,#teamMain720,#contactsMain720 {
    text-decoration: underline;
    color: white;
    font-size: 2.5vh;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
}
#menu720-copyright{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 7vh;
    font-size: 1.5vh;
    letter-spacing: 1px;
}


.contactMenu{
    background: rgba(0, 0, 0, 1);
    right: -33vw;  /* start off behind the scenes */
    height: 100vh;
    position: fixed;
    width: 33vw;
    margin-top: -1vh;
    z-index: 2;
} /*параметры боковых контактов*/
.icon-close {
    width: 4vw;
    cursor: pointer;
    padding-left: 2vw;
    padding-top: 4vh;
}
.img-responsive4{
    margin-left: 4vw;
    width: 17vw;
}
.contactMenu-header,.contactMenu720-header{
    margin-top: 5vh;
    display: flex;
    align-items: baseline;
}
.contactMenu-text{
    margin-top: 13vh;
    margin-left: 2vw;
    color: white;
    height: 50vh;
}
#contactMenu-h2 {
    font-size: 3.5vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
}
#contactMenu-p, #contactMenu720-p{
    margin-top: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.5vh;
}
#contact-copyright{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 20vh;
    font-size: 1.5vh;
}/*окончание параметров боковых контактов*/

.contactMenu720 {
    background: rgba(0, 0, 0, 1);
    right: -100vw;  /* start off behind the scenes */
    height: 100vh;
    position: fixed;
    width: 100vw;
    margin-top: -5vh;
    z-index: 3;
} /*параметры боковых контактов 720*/
.img-responsive6{
    margin-left: 13vw;
    width: 50vw;
}
.contactMenu720-text{
    width: 90vw;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    color: white;
}
#contactMenu720-h2 {
    font-size: 3.5vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
}
#contact-menu720-copyright{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top:30vh;
    font-size: 1.5vh;
    letter-spacing: 1px;
}

.container-form-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15.3vh;
    max-width: 80vw;
    /*overflow: auto;*/
    padding: 0 !important;
}
.form3{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-central-box {
    padding: 0;
    width: 100%;
}
@media screen and (min-width:1400px){
    #main-central-box {
        padding: 0;
        width: 60vw!important;
    }
} /*main-central-box*/
#col-text{
    padding: 0;
}
@media screen and (max-width:767px) {
    .container-main{
        height: 80vh;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-self: auto;
        /*overflow: hidden;*/
    }
    #main-central-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 0;
        margin-bottom: 5vh;
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .form-control, .form3-text {
        min-width: 70vw;
    }

}
.img-responsive1{
    width: 90%;
}/*по размеру контейнера*/
#main-text-h2{
    margin-bottom: 0;
    font-size: 3.5vh;
    line-height: 5vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
    color: white;
}
@media screen and (max-width:320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 2.9vh;
    }
}
@media screen and (min-width: 321px) and (max-width:375px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 2.5vh;
        line-height: 4vh;
    }
}
@media screen and (min-width: 376px) and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 3.7vh;
    }
}
#main-text-h5 {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.5vh;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: white;
}
@media screen and (max-width:320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h5 {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 8vh;
        font-size: 2vh;
    }
}
@media screen and (min-width: 321px) and (max-width:375px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h5 {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 8vh;
        font-size: 2.1vh;
    }
}
@media screen and (min-width: 376px) and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h5 {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 8vh;
        font-size: 2.2vh;
    }
}

.text1{
    display: inline-flex;
    justify-content: center;
}
.text2{
    color: #d63d41;
}
.navbar-search .search-query { line-height: inherit; }
input[type="text"]{
    /*margin-left: 2vw;*/
    line-height: inherit!important;
    border: 1px solid black;
    border-radius: 7vh;
    background-color: transparent;
    /*line-height: 5vh;*/
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 32vw;
}
/*input[type="text"]::-webkit-input-placeholder {
    border: 1px solid black;
    border-radius: 7vh;
    background-color: transparent;
    line-height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 32vw;
}*/
@media screen and (max-width:767px){
    .form-group{
        padding: 0!important;
    }
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    font: 18px bold;
    color: #444;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-image: url(/images/check.png);
    background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: 0px 0px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -30px 0px;
}

input.form-control{
    margin-right: 0!important;
    display: inline-block;
    text-align: center;
    width: 100%;
}
#problem{
    border-color: #1e1e1e;
    width: 50vw;
    height: 20vh;
    border-radius: 3vh;
    background-color: transparent;
    resize: vertical!important;
}
.textarea{
    resize: vertical!important;
}
#div-submit{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#submit-order{
    margin-top: 2vh;
    /*margin-right: auto;
    margin-left: auto;*/
    display: block;
    height: 5.4vh;
    text-align: -webkit-center;
   /* left: 43%;*/
    border-radius: 7vh;
    border: none;
    background-color: #d63d41;
    letter-spacing: 2px;
    font-size: 2.4vh;
    color: #eaeaea;
    outline: none;
}
#submit-help-block{
    font-size: 2.5vh;
}
#submit-help-block, #submit-help-block2{
    opacity: 0;
    text-align: center;
}
@media screen and (max-width:320px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        width: 120px;
        height: 50px;
        font-size: 10px;
       /* left:21% !important;*/
    }
}
@media screen and (min-width: 321px) and (max-width:420px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        width: 110px;
        height: 50px;
        font-size: 10px;
       /* left:28% !important;*/
    }
}
@media screen and (min-width: 421px) and (max-width:520px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        width: 150px;
        height: 50px;
        font-size: 10px;
        /* left:30% !important;*/
    }
}
@media screen and (min-width: 521px) and (max-width:620px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 120px;
        height: 40px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 621px) and (max-width:720px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 120px;
        height: 40px;
        /* left:37% !important;*/
    }
}
@media screen and (min-width: 721px) and (max-width:820px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 150px;
        height: 50px;
        /* left:39% !important;*/
    }
}
@media screen and (min-width: 821px) and (max-width:920px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 150px;
        height: 50px;
        /* left:40% !important;*/
    }
}
@media screen and (min-width: 921px) and (max-width:1020px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 150px;
        height: 50px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 1021px) and (max-width:1120px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 150px;
        height: 50px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 1121px) and (max-width:1220px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 180px;
        height: 60px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 1221px) and (max-width:1320px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 180px;
        height: 60px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 1321px) and (max-width:1420px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 200px;
        height: 70px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 1421px) and (max-width:1520px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 200px;
        height: 70px;
        /* left:41% !important;*/
    }
}
@media screen and (min-width: 1521px) and (max-width:1620px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 243px;
        height: 73px;
        /* left:43% !important;*/
    }
}
@media screen and (min-width: 1621px) and (max-width:1720px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 244px;
        height: 74px;
        /* left:42% !important;*/
    }
}
@media screen and (min-width: 1721px) and (max-width:1820px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 245px;
        height: 75px;
        /* left:42% !important;*/
    }
}
@media screen and (min-width: 1821px) and (max-width:1920px){
    .order {
        width: 13vw;
    }
    .more {
        width: 13vw;
    }
    #submit-order{
        width: 246px;
        height: 76px;
        /* left:43% !important;*/
    }
}
@media screen and (min-width: 1921px) and (max-width:2020px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        width: 247px;
        height: 77px;
    }
}
@media screen and (min-width: 2021px) and (max-width:2120px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        width: 248px;
        height: 78px;
    }
}
@media screen and (min-width: 2121px) and (max-width:2220px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        width: 249px;
        height: 79px;
    }
}
@media screen and (min-width: 2221px){
    .order {
        width: 13vw;

    }
    .more {
        width: 13vw;

    }
    #submit-order{
        height: 80px;
        width: 250px;
        /* left: 44%!important;*/
    }
}

.container-footer{
    z-index: 3;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 5vw !important;
}
#empty{
    width: 2px;
    height: 1px;
    opacity: 0.001;
}
#copyright{
    font-size: 1.5vh;
}
@media screen and (max-width:720px) {
    #copyright {
        padding-left: 15px;
        padding-top: 20px;
        font-size: 10px;
    }
}

#contact-copyright{
    margin-top: 46vh!important;
}/*окончание параметров боковых контактов*/