body::-webkit-scrollbar,html::-webkit-scrollbar,.container-main::-webkit-scrollbar{
    display: none;
} /*без прокрутки*/
*{}


.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-height: 80vh;
    max-width: 80vw;
    /*overflow: auto;*/
    padding: 0 !important;
}
#main-central-box {
    padding: 0;
    width: 100%;
}
/*@media screen and (min-width:1400px){
    #main-central-box {
        padding: 0;
        width: 60vw!important;
    }
} /*main-central-box*/
#col-text{
    padding: 0;
}
#col-doctor2{
    padding: 0;
}
@media screen and (max-width:767px) {
    .container-main{
       /* height: 65vh;*/
        margin-top: 15vh;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-self: auto;
        /*overflow: hidden;*/
    }
    #main-central-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 0;
        margin-top: -10vh;
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
    }
    .doctor1 {
       /* margin-top: 4vh;*/
        display: flex;
        justify-content: center;
        max-width: 60vw;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
    }
    .img-responsive1 {

    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}
.img-responsive1{
    width: 80%;
   /* padding-right: 10%;*/
 }/*по размеру контейнера*/
#main-text-h2{
    margin-bottom: 0;
    font-size: 4.5vh;
    line-height: 6vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
    color: white;
}
@media screen and (max-width:320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 3.2vh;
    }
}
@media screen and (min-width: 321px) and (max-width:375px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 3.3vh;
        line-height: 5vh;
    }
}
@media screen and (min-width: 376px) and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 3.5vh;
    }
}
@media screen and (min-width: 427px) and (max-width:440px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h2 {
        font-size: 3.5vh;
    }
}
#main-text-h5 {
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 4vh;
    font-size: 2.5vh;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: white;
}
@media screen and (max-width:767px) {
    html {
        -webkit-text-size-adjust: none;
    }
    #main-text-h5 {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 2vh;
        }
}

.buttons{
    display: inline-flex;
    height: 5.4vh;
}
@media screen and (max-width:770px){
    .buttons{
        height: 10vh;
    }
}
@media screen and (max-width:767px){
    .buttons-mobile{
        display: inline-flex;
        justify-content: space-between;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
        z-index: 3;
    }
}

.container-footer{
     z-index: 3;
     margin-top: 18vh;
     padding-left: 5vw !important;
 }
#copyright{
    font-size: 1.5vh;
}
@media screen and (max-width:720px) {
    .container-footer{
        padding-left: 5vw !important;
        margin-top: 0;
    }
    #copyright {
        padding-left: 15px;
        font-size: 10px;
        margin-top: 0!important;
    }
}
@media screen and (min-width: 721px) and (max-width:768px) {
    #copyright {
        padding-left: 15px;
        padding-top: 20px;
        font-size: 10px;
        margin-top: 0!important;
    }
}
/*
@media screen and (min-width: 769px) and (max-width:1200px) {
    #copyright {
        font-size: 1.5vh;
    }
    .container-footer{
        margin-top: 7vh;
        padding-left: 5vw !important;
    }
}*/
