@media screen and (max-width:767px){
    .main-central-box {
        margin-top:7vh;
    }
}

.script-section1{
    background: #eaeaea 9%;
    z-index: -2;

}
.script-section2{
    background: linear-gradient(150deg, #e3e16c 9%, #c9e5ab 100%);
    z-index: -2;
}
.script-section3{
    background: linear-gradient(150deg, #0090DA 9%, #e3e16c 100%);
    z-index: -2;
}
.script-section4{
    background: linear-gradient(150deg, #eaeaea 9%, #0090DA 100%);
    z-index: -2;
}
.script-section5{
    background: linear-gradient(150deg, #eaeaea 9%, #e3e16c 100%);
    z-index: -2;
}
.script-section6{
    background: linear-gradient(150deg, #e3e16c 9%, #0090DA 100%);
    z-index: -2;
}
.script-section7{
    background: linear-gradient(150deg, #d63d41 9%, #eaeaea 100%);
    z-index: -2;
}
.script-section8{
    background: linear-gradient(150deg, #eaeaea 9%, #0090DA 100%);
    z-index: -2;
}
.script-section9{
    background: linear-gradient(150deg, #eaeaea 9%, #e3e16c 100%);
    z-index: -2;
}
.script-section10{
    background: #eaeaea 9%;
    z-index: -2;
}

#img-script-menu{
    width: 85%;
    padding-left: 4vw;
    padding-right: 3vw;
}

.script-menu1,.script-menu3{
    display: flex;
    flex-direction: column;
    padding-left: 0!important;
}
.script-menu1-button,.script-menu3-button {
    text-align: start;
    border: none;
    background-color: transparent;
    font-size: 2vh;
    letter-spacing: 1px;
    line-height: 6vh;
    border-radius: 3vh;
}
.script-menu1-button{
    margin-bottom: 4vh;
}
.script-menu3-button {
    margin-bottom: 4vh;
}
.script-menu1-button:focus,.script-menu1-button:hover,.script-menu3-button:focus,.script-menu3-button:hover{
    background-color: rgba(234 234 234 0.7);
}
@media screen and (max-width: 767px) {
    .script-menu4{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0!important;
    }
    .script-menu4-button {
        border: none;
        background-color: transparent;
        font-size: 2vh;
        letter-spacing: 1px;
        border-radius: 4vh;
        margin-bottom: 3vh;
    }
    .script-menu4-button:focus, .script-menu4-button:hover{
        border: 1px solid;
        padding-left: 5vw;
        padding-right: 5vw;
        border-color: #0090DA;
        opacity: 0.7;
    }
}

#img-analytics{
    width:70%;
    padding-left: 10%;
    z-index:-1;
}
#img-script-design2{
    width:80%;
    z-index:-1;
}
#img-prototyping{
    width:70%;
}
#img-script-designing2{
    width:65%;
}
#img-script-development{
    width:70%;
}
#img-testing2{
    width:65%;
}
#img-script-maintenance{
    width:70%;
}
#img-script-advancement2{
    width:90%;
}
#img-cigar-show{
    width:70%;
}

@media screen and (min-width: 768px) and (max-width:810px){
    .analytics{
        display: flex;
        justify-content: center;
        height: 50vh;
    }
}

@media screen and (max-width:767px) {
    .container-main{
        height: 80vh;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-self: auto;
        /*overflow: hidden;*/
    }
    .main-central-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 0;
        margin-bottom: 5vh;
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
    }
    .analytics,.script-design1,.prototyping,.script-designing1,.script-development,.testing1,.script-maintenance,.script-advancement1,.cigar-show {
        display: flex;
        justify-content: center;
        max-width: 60vw;
        height: 20vh;
        margin: auto;
    }
}
.img-responsive1{
    position: relative;
    z-index: -1;
}/*по размеру контейнера*/

.script-menu1,.script-menu3{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    letter-spacing: 2px;
}
.script-menu1{
    line-height: 11vh;
}
.script-menu3{
    margin-top: -10.5vh;
    line-height: 15vh;
}
#script-section1-container-main{
    min-height: 60vh;
    max-height: 60vh;
    max-width: 80vw;
    min-width: 80vw;
}
#more-one3{
    line-height: 1vh;
    margin-right: -9vw;
}

@media screen and (max-width:767px) {
    .text {
        margin-right: -7vw;
        margin-left: -7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}

.main-text-h2{
    margin-bottom: 0;
    font-size: 2.9vh; /*3.5*/
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
    color: black;
}
.main-text-h2-white{
    margin-bottom: 0;
    font-size: 2.9vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
    color: white;
}
@media screen and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h2, .main-text-h2-white {
        font-size: 2.7vh;
    }
}
.main-text-h5 {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.5vh;
    line-height: 1.5;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: black;
}
.main-text-h5-white{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.5vh;
    line-height: 1.5;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: white;
}
@media screen and (max-width:320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 3vh;
        margin-bottom: 6vh;
        font-size: 2vh;
    }
}
@media screen and (min-width: 321px) and (max-width:375px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 3vh;
        margin-bottom: 6vh;
        font-size: 2.1vh;
    }
}
@media screen and (min-width: 376px) and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 3vh;
        margin-bottom: 6vh;
        font-size: 2.1vh;
    }
}
@media screen and (min-width: 700px) and (max-width:1000px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        font-size: 1.3vh;
    }
    .main-text-h2, .main-text-h2-white {
        font-size: 1.5vh;/*2.4*/
    }
    .script-menu1-button, .script-menu3-button {
        font-size: 1.5vh!important;
    }
}

.buttons{
    display: flex;
    justify-content: flex-start;
    /*height: 5.4vh;*/
}
@media screen and (max-width:767px){
    .buttons-mobile{
        display: flex!important;
        justify-content: center;

    }
}