@font-face {
    font-family: Geneva; /* Гарнитура шрифта */
    src: url(/fonts/6585.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaLight; /* Гарнитура шрифта */
    src: url(/fonts/Helvetica/9204.otf); /* Путь к файлу со шрифтом */
}

.services-section1{
    background: linear-gradient(150deg, #0090DA 9%, #eaeaea 100%);
    z-index: -2;
}
.services-section2{
    background: #eaeaea 9%;
    z-index: -2;

}
.services-section3{
    background: linear-gradient(150deg, #0090DA 9%, #002469 100%);
    z-index: -2;

}
.services-section4{
    background: linear-gradient(150deg, #d63d41 9%, #0090DA 100%);
    z-index: -2;

}
.services-section5{
    background: #eaeaea 9%;
    z-index: -2;

}
.services-section6{
    background: linear-gradient(150deg, #002469  9%, #0090DA 100%);
    z-index: -2;

}
.services-section7{
    background: linear-gradient(150deg, #eaeaea 9%, #d63d41 100%);
    z-index: -2;

}
.services-section8{
    background: #1e1e1e;
    z-index: -2;

}
.services-section9{
    background: linear-gradient(150deg, #eaeaea 9%, #0090DA 100%);
    z-index: -2;

}
.services-section10{
    background: linear-gradient(150deg, #002469 9%, #eaeaea 100%);
    z-index: -2;

}
.services-section11{
    background: #eaeaea 9%;
    z-index: -2;

}
.services-section12{
    background: linear-gradient(150deg, #0090DA 9%, #002469 100%);
    z-index: -2;

}

#img-services-menu{
    width: 75%;
    padding-left: 1vw;
}

.services-menu1,.services-menu3{
    display: flex;
    flex-direction: column;
    padding-left: 0!important;
}
.services-menu1-button,.services-menu3-button {
     text-align: start;
     border: none;
     background-color: transparent;
    font-family: Geneva, sans-serif;
     font-size: 2vh;
     letter-spacing: 1px;
     border-radius: 3vh;
}
.services-menu1-button{
    margin-bottom: 4vh;
}
.services-menu3-button {
    margin-bottom: 3vh;
}
.services-menu1-button:focus,.services-menu1-button:hover,.services-menu3-button:focus,.services-menu3-button:hover{
    outline-color: #eaeaea;
    border-radius: 3vh;
    background-color: rgba(234 234 234 0.7);
}

@media screen and (max-width: 767px) {
    .services-menu4{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        padding-left: 0!important;
    }
    .services-menu4-button {
        border: none;
        background-color: transparent;
        border-radius: 3vh;
        font-size: 2vh;
        letter-spacing: 1px;
        margin-bottom: 1.5vh;
    }
    .services-menu4-button:focus, .services-menu4-button:hover{
        background-color: rgba(234, 234, 234, 0.7);
    }
}
@media screen and (min-width: 768px) and (max-width:1199px) {
    #img-services-menu{
        padding-left: 2vw;
        width: 80%;
    }
}
@media screen and (min-width: 1200px) and (max-width:2500px) {
    #img-services-menu{
        padding-left: 2vw;
        width: 75%;
    }
}
.services-training1{
    text-align: center!important;
}
#img-site-development{
    width: 150%;
    padding-top: 5vh;
    margin-left: -15vw;
    z-index: -1;
}
#img-app-development1{
    width: 30%;
    z-index: -1;
}
#img-app-development2{
    width: 110%;
    z-index: -1;
}
#img-services-training{
    width: 95%;
    padding-left: 5%;
 }
@media screen and (max-width: 767px) {
    #img-services-training{
        width: 50%;
    }
}
#img-api1{
    width: 70%;
}
#img-api2{
    width: 75%;
}
#img-crm{
    width: 80%;
}
@media screen and (max-width: 767px) {
    #img-crm{
        width: 70%!important;
    }
}
@media screen and (min-width: 768px) and (max-width:1200px) {
    #img-crm{
        width: 78%!important;
        padding-left: 15%;
    }
}
@media screen and (min-width: 1800px) and (max-width:2500px) {
    #img-crm{
        width: 80%!important;
        padding-left: 20%;
    }
}
@media screen and (min-width:2501px){
    #img-crm{
        width: 70%!important;
    }
}
#img-pc-app2{
    width: 110%;
    margin-right: -10vw;
}
#img-designing{
    width: 70%;
    padding-left: 10%;
}
@media screen and (max-width: 767px) {
    #img-designing{
        width: 60%;
    }
}
@media screen and (min-width: 1800px) and (max-width:2500px) {
    #img-designing{
        width: 70%!important;
    }
}
#img-design1{
    width: 50%;
}
#img-design2{
    width: 75%;
    padding-left: 10%;
}
#img-audit{
    width: 70%;
    padding-left: 10%;
}
@media screen and (max-width: 767px) {
    #img-audit{
        width: 50%!important;
    }
}
@media screen and (min-width: 1800px) and (max-width:2500px) {
    #img-audit{
        width: 70%!important;
    }
}
#img-advancement1{
    width: 30%;
}
#img-advancement2{
    width: 50%;
}
#img-maintenance{
    width: 80%;
}
@media screen and (max-width: 767px) {
    #img-maintenance{
        width: 40%;
        margin: auto!important;
    }
}
@media screen and (min-width:768px) and (max-width: 1200px){
    #img-maintenance{
        width: 64%;
    }
}
@media screen and (min-width: 1201px) and (max-width:1500px) {
    #img-maintenance {
        width: 70%!important;
    }
}
@media screen and (min-width: 1800px) and (max-width:2500px) {
    #img-maintenance{
        width: 65%!important;
    }
}
@media screen and (min-width: 2501px) and (max-width:2600px) {
    #img-maintenance {
        width: 70%;
        margin-left: 1vw!important;
    }
}

@media screen and (min-width: 567px) and (max-width:767px) {
    .container-main{
        height: 80vh;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-self: auto;
        /*overflow: hidden;*/
    }
    .main-central-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 0;
        margin-bottom: 5vh;
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
    }
    .pc-app1, .app-development1, .site-development1, .api1, .crm1, .audit1, .design1, .training1, .designing1, .advancement1 {
        display: flex;
        justify-content: center;
        max-width: 80vw;
        height: 30vh;
        margin: auto;
    }
}
@media screen and (max-width: 566px) {
    .container-main {
        height: 80vh;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-self: auto;
        /*overflow: hidden;*/
    }

    .main-central-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 0;
        margin-bottom: 5vh;
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
    }

    .pc-app1, .app-development1, .site-development1, .api1,  .design1, .training1 {
        display: flex;
        justify-content: center;
        max-width: 80vw;
        height: auto;
        margin: auto;
    }
    .crm1,.audit1, .designing1,.advancement1{
        display: flex;
        justify-content: center;
        max-width: 80vw;
        height: 15vh;
        margin: auto;
    }
}

.img-responsive1{
    position: relative;
    z-index: -1;
}/*по размеру контейнера*/

.pc-app1, .app-development1, .site-development1, .api1, .design1 {
    display: flex;
    justify-content: center;
}

/*.services-menu1,.services-menu3{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    letter-spacing: 2px;
}
.services-menu1{
    line-height: 10vh;
}
.services-menu3{
    line-height: 8vh;
}*/
#services-section1-container-main{
    min-height: 60vh;
    max-height: 60vh;
    max-width: 80vw;
    min-width: 80vw;
}

.text {
    /*margin-right: -10vw;
    margin-left: -10vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
@media screen and (max-width:767px){
    .text {
        margin-right: -7vw;
        margin-left: -7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}
.main-text-h2{
    margin-bottom: 0;
    font-size: 3.5vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
    line-height: 4.7vh;
    color: black;
}
.main-text-h2-white{
    margin-bottom: 0;
    font-size: 3.5vh;
    font-family: Geneva, sans-serif;
    letter-spacing: 2px;
    line-height: 4.7vh;
    color: white;
}
@media screen and (max-width:320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h2, .main-text-h2-white {
        margin-top: 0!important;
        padding-top: 5vh!important;
        font-size: 2.9vh;
    }
}
@media screen and (min-width: 321px) and (max-width:375px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h2,.main-text-h2-white {
        margin-top: 0!important;
        padding-top: 5vh!important;
        font-size: 3vh;
    }
}
@media screen and (min-width: 376px) and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h2, .main-text-h2-white {
        margin-top: 0!important;
        padding-top: 5vh!important;
        font-size: 2.7vh;
        line-height: 3.5vh;
    }
}
@media screen and (min-width: 427px) and (max-width:767px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h2, .main-text-h2-white {
        margin-top: 0!important;
        padding-top: 5vh!important;
        font-size: 3.2vh;
    }
}
@media screen and (min-width: 768px) and (max-width:1200px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h2, .main-text-h2-white {
        padding-top: 5vh!important;
        font-size: 2.5vh;
    }
}

.main-text-h5 {
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.2vh;
    line-height: 1.5;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: black;
}
.main-text-h5-white{
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.2vh;
    line-height: 1.5;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: white;
}
@media screen and (max-width:320px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 0;
        margin-top: 2vh;
        font-size: 2vh;
    }
}
@media screen and (min-width: 321px) and (max-width:375px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 0;
        margin-top: 2vh;
        font-size: 2.1vh;
    }
}
@media screen and (min-width: 376px) and (max-width:426px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 0;
        margin-top: 2vh;
        font-size: 1.9vh;
    }
}
@media screen and (min-width: 427px) and (max-width:767px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        font-size: 2.4vh;
        margin-bottom: 0;
        margin-top: 2vh;
    }
}
@media screen and (min-width: 768px) and (max-width:1200px) {
    html {
        -webkit-text-size-adjust: none;
    }
    .main-text-h5, .main-text-h5-white {
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 8vh;
        font-size: 1.5vh;
    }
}

.buttons{
    display: inline-flex;
    height: 5.7vh;
}
@media screen and (max-width:767px) {
    .buttons-mobile {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
}

